@font-face {
   font-family: 'Ubuntu', sans-serif;
   src: url("fonts/Ubuntu-Regular.woff") format("truetype");
}

@font-face {
   font-family: 'Ubuntu', sans-serif;
   src: url("fonts/Ubuntu-Regular.woff2") format("truetype");
}
