.html {
	box-sizing: border-box;
	font-family: $fontFamily;
	font-size: $fontSize;
}

*,*::before,*::after {
	box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.page {
	color: $color;
	background-color: $backgroundColor;
	@include userSelect;
}

.main {
  margin: 0 auto;
	max-width: 800px;
	padding-right: 10px;
	padding-left: 10px;
}

.page__main {
  text-align: center;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	padding: 10px 10px;
}

.main__btns {
	padding-top: 120px;
	margin-bottom: 50px;
}

.btns__add {
	margin-right: 4px;
}

.btns__time {
	margin-top: 18px;
}

.time__list {
	@include displayFlex;
}

.cards__list {
	@include displayFlex;
	flex-wrap: wrap;
	gap: 20px;
}

.card__btn {
	font-size: 18px;
	padding: 3px 40px;
}

.btns__all {
	padding: 6px 25px;
}

.card__body {
	@include displayFlex;
  flex: 1 0 auto;
	flex-direction: column;
}

.cards__started {
	.card {
		background-color: #808080;
	}

	.card__title {
		margin-top: 7px;
	}

	.card__btn {
		display: none;
	}

	.card__time {
		margin: 0;
    padding: 0;
		font-size: 28px;
		font-weight: 600;
	}
}

@include smallMobile {
	.card {
		width: 12rem !important;
    height: 13rem !important;
	}

	.btns__all {
    padding: 6px 4px;
	}

	.btns__add {
    margin-right: 0;
		padding: 6px 4px;
	}
}
