@mixin displayFlex {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin smallMobile {
	@media screen and (min-width: 100px) and (max-width: 270px) {
		@content;
	}
}

@mixin userSelect {
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}
